@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



:root {
    --color-black1: #0F0F0F;
    --color-black2: #1a1a1a;
    --color-black3: #00000068;
    --color-red1: #CF0210;
    --color-red2: #8a2027;
    --color-white1: #A4A6A6;
    --color-white2: #white;
    --color-white3: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body {
    background-image: url(imagens/img-antiga/5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    background-color: #151019;
}

/* INICIO */
header,
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header {
    justify-content: right;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    height: 56px;
    padding: 0 10%;
    justify-content: space-between;
}

.menu {
    gap: 80px;
}

.menu a {
    position: relative;
    text-decoration: none;
    color: var(--color-white3);
    font-weight: bold;
    font-size: larger;
}

.menu a::after {
    content: "";
    position: absolute;
    background-color: rgb(151, 150, 150);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.menu a:hover {
    color: rgb(151, 150, 150);
}

.menu a:hover::after {
    width: 100%;
}


.btn-icon-reader {
    display: none;
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
}

.btn-icon-reader svg {
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 768px) {
    .btn-icon-reader {
        display: block;
    }

    .menu {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: rgba(0, 0, 0, 0.876);
        height: 900px;
        /* TAMANHO DO MENU LATERAL */
        width: 35vw;
        padding: 16px;
        animation-duration: 0.7s;
        margin-left: -100vw;
    }
}

@keyframes showSidebar {
    from {
        margin-left: -100vw;
    }

    top {
        margin-left: -10vw;
    }
}

.card {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 560px;
    background-color: #00000079;
    margin-top: 50px;
    box-shadow: 0px 0px 10px 2px #00000071;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    padding: 10px;
    letter-spacing: 2.5px;
    text-shadow: 1px 1px 5px black;
}

.content h3 {
    font-size: 26px;
    text-shadow: 1px 1px 3px black;
}

.content-btn button {

    margin-top: 40px;

    text-transform: uppercase;
    font-weight: 200;
    font-size: 18px;
    color: white;

    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
    border: 2px solid black;

    border-radius: 50px;
    width: 150px;
    height: 60px;

    box-shadow: 0px 0px 3px black;

}

.content-btn button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.589);
    color: black;
    transition: 0.3s;
    cursor: pointer;
}

.content-text {
    margin-top: 60px;
    text-align: center;
}

.content-text span {
    color: rgba(255, 255, 255, 0.608);
    font-size: 13px;
    font-weight: 100;
}

.data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.data img {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    filter: drop-shadow(0px 0px 5px #00000074)
}

.data img:hover {
    filter: drop-shadow(0px 0px 5px #00000074)
}

.content-img {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-img img {
    width: 350px;
    height: 300px;
}

/* SOBRE MIM */
.sobreMin {
    background-color: var(--color-black1);
    width: auto;
    height: 400px;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #000000ce;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sobreMin h1 {
    text-align: center;
}

.sobreMinTexto h1 {
    padding: 20px;
    font-size: 60px;
    text-shadow: 0px 0px 5px black;
}

.sobreMinTexto h3 {
    font-weight: lighter;
}

.sobreMinImg img {
    width: 300px;
    height: 280px;
}

.sobreMinTexto {
    width: 700px;
}

.sobreMinImg,
.sobreMinTexto {
    margin: 20px;
}

.skills {
    width: 100%;
    height: auto;

    padding-bottom: 35px;
    background-color: rgb(31, 31, 31);

    display: flex;
    text-align: center;
    flex-direction: column;

    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.307);

}

.skills h1 {
    padding: 20px;
    font-size: 60px;
    text-shadow: 0px 0px 5px black;
}

.skills p {
    text-shadow: 0px 3px 5px black;
}

.area-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills1 {
    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

}

.skills2 {
    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

}

.skills1 img {
    width: 100px;
    height: 100px;

    filter: drop-shadow(2px 2px 2px #000000);
}

.skills2 img {
    width: 100px;
    height: 100px;

    filter: drop-shadow(2px 2px 2px #000000);
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 20px;

}

.cards h3 {
    margin-left: 15px;
    margin-top: 10px;
}

.skills-data {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-data h3,
.bar {
    margin-bottom: 10px;
}

.skills-data h3 {
    text-shadow: 3px 3px 5px black;
}

.skills-data p {
    color: rgba(255, 255, 255, 0.726);
    font-style: italic;
}

.bar {
    display: flex;
    flex-direction: row;

}

#cbar1,
#cbar2,
#cbar3,
#cbar4,
#cbar5 {
    width: 30px;
    height: 15px;

    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    box-shadow: inset 0.5px 0.5px 3px black;
}

#cbar1,
#cbar2,
#cbar3,
#cbar4,
#cbar5 {
    background-color: rgba(255, 0, 0, 0.426);
}

#javabar1,
#javabar2,
#javabar3,
#javabar4,
#javabar5 {
    width: 30px;
    height: 15px;

    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    box-shadow: inset 0.5px 0.5px 3px black;
}

#javabar1,
#javabar2 {
    background-color: rgba(179, 255, 0, 0.472);
}

#jsbar1,
#jsbar2,
#jsbar3,
#jsbar4,
#jsbar5 {
    width: 30px;
    height: 15px;

    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    box-shadow: inset 0.5px 0.5px 3px black;
}

#jsbar1,
#jsbar2,
#jsbar3 {
    background-color: rgba(255, 255, 0, 0.754);
}

#htmlbar1,
#htmlbar2,
#htmlbar3,
#htmlbar4,
#htmlbar5 {
    width: 30px;
    height: 15px;

    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    box-shadow: inset 0.5px 0.5px 3px black;
}

#htmlbar1,
#htmlbar2,
#htmlbar3 {
    background-color: rgba(255, 255, 0, 0.754);
}

#cssbar1,
#cssbar2,
#cssbar3,
#cssbar4,
#cssbar5 {
    width: 30px;
    height: 15px;

    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    box-shadow: inset 0.5px 0.5px 3px black;
}

#cssbar1,
#cssbar2,
#cssbar3 {
    background-color: rgba(255, 255, 0, 0.754);
}

#nodebar1,
#nodebar2,
#nodebar3,
#nodebar4,
#nodebar5 {
    width: 30px;
    height: 15px;

    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    box-shadow: inset 0.5px 0.5px 3px black;
}

#nodebar1 {
    background-color: rgba(38, 255, 0, 0.77);
}


/*
.area-cards {
    display: flex;
    width: 100%;
    height: auto;

    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.cards {
    margin: 10px;
    justify-content: space-around;
}

.cards img {
    width: 100px;
    height: 100px;

    filter: drop-shadow(2px 2px 2px #000000);

}

.cards img:hover {
    filter: drop-shadow(2px 2px 5px #5a5a5a80);
}
*/
.projetos {

    background-color: #0F0F0F;

    text-align: center;
    box-shadow: inset 0px 2px 7px 2px black;
    width: 100%;
    height: 500px auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projetos h1 {
    padding: 20px;
    font-size: 60px;
    text-shadow: 0px 0px 5px black;
}

.area-projetos {
    display: flex;
    width: 100%;
    height: auto;

    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    max-width: 1500px;
}

.card-projeto {
    border-radius: 16px;
    box-shadow: -1rem 0 3em rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;

    margin: 70px;

    background-color: #2f2e2e;
    transition: all .2s ease-in-out;
    border: 5px solid #191818;
    overflow: hidden;

    color: white;
}

.card-projeto:hover {
    transform: scale(1.1);
}

.projeto-img {
    width: 100%;
    height: 300px;
}

.card-projeto img {
    border-radius: 100% 0% 100% 0% / 0% 50% 50%;
    width: 100%;
    height: 100%;
}

.projeto-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    filter: drop-shadow(0px 0px 10px #00000073);
    margin-bottom: 10px;
    margin-top: 10px;
}

.projeto-btn {
    width: 60px;
    height: 60px;

    border: none;
    outline: none;
    border-radius: 50%;
}

.projeto-btn img {
    width: 40px;
    height: 40px;
}

.projeto-button button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px white;

}

.projeto-desc h3 {
    text-transform: uppercase;
    text-shadow: 1px 1px 3px black;
}

.hide {
    display: none;
}

#verMais {
    margin-top: 40px;

    text-transform: uppercase;
    font-weight: 200;
    font-size: 18px;
    color: rgb(0, 0, 0);

    text-decoration: none;
    border: none;
    outline: none;
    background-color: white;
    border: 3px solid black;

    border-radius: 50px;
    width: 150px;
    height: 60px;

    box-shadow: 0px 0px 5px black;

    margin: 15px;
}

#verMais:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.589);
    color: black;
    transition: 0.3s;
    cursor: pointer;

    font-weight: bolder;
    font-size: larger;
    transform: scale(1.1);
}

.verMais-text2 {
    display: none;
}

.cursos {
    width: 100%;
    height: auto;
    padding-bottom: 55px;

    box-shadow: inset 0px 2px 7px 2px black;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cursos h1 {
    padding: 20px;
    font-size: 60px;
    color: #191818;
    text-shadow: 0px 0px 5px black;
    margin-bottom: 20px;
}

.area-cursos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 400px;
    flex-wrap: wrap;
}

.footer {
    background-color: #0F0F0F;
    width: 100%;
    height: 250px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.footer-img {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.461);
}

.footer-img img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.footer-data img {
    padding: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.footer-data h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.694);
    font-style: italic;
}

.footer-data img:hover {
    filter: drop-shadow(0px 0px 5px #b3b3b374)
}

.eu {
    display: none;
}


.card-cursos img {
    width: 75px;
    height: 75px;
    border-radius: 20px;
}

.card-cursos {
    width: 400px;
    height: 100px;
    background-color: #191818;

    margin: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 6px;
    border-radius: 10px;

    box-shadow: 1px 1px 10px black;
}

.card-cursos h2 {
    font-size: 19px;
}

.card-cursos h3 {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.841);
    font-style: italic;
}

.card-cursos span {
    font-size: 13.5px;
    color: rgba(255, 255, 255, 0.841);
    font-style: italic;
}

.data-cursos {
    margin-left: 5px;
    width: 100%;
}

.projeto-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projeto-desc p{
    color: rgba(255, 255, 255, 0.663);
    font-style: italic;
}

.projeto-desc-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.projeto-desc-icons img{
    width: 45px;
    height: 45px;

    filter: drop-shadow(1px 1px 1.5px black);
}

/* AREA RESPONS.   !! ---------*/


@media screen and (max-width: 850px) {
    .sobreMin {
        height: auto;
    }

    .area-cursos {
        width: auto;
        height: auto;
    }


}

@media screen and (max-width: 1200px) {
    .content h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 750px) {


    .card {
        justify-content: center;
        align-items: center;
    }


    .eu {
        display: flex;
        height: 145px;
        width: 145px;

        background-color: rgb(0, 0, 0);
        border-radius: 50%;

        justify-content: center;
        align-items: center;

        box-shadow: 0px 0px 5px black;

    }

    .eu img {
        height: 140px;
        width: 140px;

        border-radius: 50%;
    }

    .content-text {
        margin-top: 15px;
    }

    .cursos {
        height: auto;
    }

    .content h1 {
        font-size: 25px;
    }

    .content-img {
        display: none;
    }

    .sobreMin {
        height: 850px;
        flex-direction: column;
        align-items: center;
    }

    .sobreMinTexto {
        width: auto;
        margin-bottom: -100px;
    }

    .sobreMinImg img {
        margin-top: -120px;
        width: 250px;
        height: 250px;
    }

    .skills {
        height: auto;
        padding-bottom: 15px;
    }

    .data img {
        filter: none;
    }

    .cursos {
        padding-bottom: 50px;
    }
    .cursos h1{
        text-shadow: 0px 0px 2.5px rgb(0, 0, 0);
    }

    .footer-img {
        display: none;
    }

}

@media screen and (max-width: 600px) {

    .card-text {
        text-align: center;
    }

    .sobreMinImg img {
        margin-top: -120px;
        width: 200px;
        height: 200px;
    }

    .sobreMin {
        height: 950px;
    }
}

/* pocket */
@media screen and (max-width: 430px) {

    .cursos {
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .area-cursos {
        width: 360px;
        height: auto;
    }

    .sobreMinTexto h1 {
        font-size: 40px;
        padding: 10px;
    }

    .skills h1 {
        font-size: 40px;
        padding: 10px;
    }

    .projetos h1 {
        font-size: 40px;
        padding: 10px;
    }

    .cursos h1 {
        font-size: 40px;
        padding: 10px;

    }

    .card-cursos {
        width: 320px;
        height: auto;
    }

    .card-text h1 {
        text-shadow: 0px 0px 3.5px rgb(0, 0, 0);
    }

    .content-text h3 {
        text-shadow: 0px 0px 2px black;
    }


    h1 {
        text-shadow: 0px 0px 2.5px black !important;
    }

    .skills-data h3 {
        text-shadow: 1.5px 1.5px 2.5px black;
    }

    .skills-data p {
        text-shadow: 0px 1.5px 2.5px black;
    }

}